# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual environment
venv/
ENV/

# IDE/Editor specific files
.vscode/
.idea/

# Compiled Python files
*.pyc

# Log files
*.log

# Other
db.sqlite3
instance/
